body{
  background-image: url('../img/ship.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #1f242d;
}

.description{
  margin-top: 20px;
  text-align: justify;
}

.home-content{
  margin-top: 500px;
  
}

a.gitHubRepo{
  text-decoration: none;
  color: #1f242d; 
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.header{
  position:relative;
}

.section-mini{
  margin-top: 50px;
}

.btn{
  margin-bottom: 40px;
}

@media (max-width: 612px) {
  .home-content{
    margin-top: 250px;

    margin-bottom: 50px;
    
  }


}


/* KEYFRAMES ANIMATIONS */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  }
}


