body{
  background-image: url('../img/svg/blue_wave.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.description{
  margin-top: 20px;
  text-align: justify;
}

.home-content{
  margin-top: 800px;
  
  
}

.home-content h3{
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: #fff;
}

nav a{
  text-decoration: none;
}

a.gitHubRepo{
  text-decoration: none;
  color: #fff; 
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.header{
  position:relative;
}

.section-mini{
  margin-top: 50px;
}

.btn{
  margin-bottom: 40px;
}



@media (max-width: 669px) {
  .home-content{
    margin-top: 900px;
    margin-bottom: 50px;
    
  }
}

@media (max-width: 605px) {
  .home-content{
    margin-top: 700px;
    margin-bottom: 30px;
    
  }
}





