body{
  background-image: url('../img/svg/green.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.description{
  margin-top: 20px;
  text-align: justify;
}

.home-content{
  margin-top: 600px;
  
}

a.gitHubRepo{
  text-decoration: none;
  color: #fff; 
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.header{
  position:relative;
}

.section-mini{
  margin-top: 50px;
}

.btn{
  margin-bottom: 40px;
}



@media (max-width: 669px) {
  .home-content{
    margin-top: 700px;

    margin-bottom: 50px;
    
  }

}

@media (max-width: 605px) {
  .home-content{
    margin-top: 500px;

    margin-bottom: 30px;
    
  }

 

}






/* KEYFRAMES ANIMATIONS */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  }
}



