*{
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url('../img/svg/blue.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#particle-js{
  width: 100%;
  height: 100vh;
  top: 0%; 
}

nav a{
  text-decoration: none;
}

div h1, div h3 {
  color: #fff;
}

div h1{
  position: absolute;
  top: 20%;
  left: 20%;
}

div div .item1{
  position: absolute;
  top: 30%;
  left: 20%;
}

div div .item2{
  position: absolute;
  top: 35%;
  left: 20%;
}

div div .item3{
  position: absolute;
  top: 40%;
  left: 20%;
}

div div .item4{
  position: absolute;
  top: 45%;
  left: 20%;
}

div div .item5{
  position: absolute;
  top: 50%;
  left: 20%;
}

div div .item6{
  position: absolute;
  top: 55%;
  left: 20%;
}

div div .item7{
  position: absolute;
  top: 60%;
  left: 20%;
}

