@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Castoro Titling', cursive;
  
}

body{
  background-image: url("../img/svg/Blob\ Group.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 50%;
  color: #fff;
}

.home2 {
  padding-bottom: 25%;
  background-image:url("../img/svg/Rect\ Light.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


ul{
  list-style: none;
  
}
a{
  text-decoration: none;

}

/*==navigation===============================*/
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.navigation .menu-icon{
  cursor: pointer;
  float: right;
  padding: 20px 10px;
  z-index: 107;
}
.navigation .menu-icon .nav-icon{
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: background 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
  background-color: #ffffff;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before{
  top: 8px;
}
.navigation .menu-icon .nav-icon::after{
  top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0px;
}
.menu-btn{
  display: none;
}

/*--menu-------------*/
.menu{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111f1;
  z-index: 106;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fade 0.3s;
}
.menu li a{
  color: #ffffff;
  margin: 0px 40px;
  font-size: 2rem;
  font-family: 'Gloria Hallelujah', cursive;
  transition: all ease 0.3s;
}
.menu li a:hover{
  font-size: 2.3rem;
  color: #0ef;
  transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu{
  display: flex;
}

@keyframes fade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

/*--logo--------------*/
.logo{
  margin: 0px auto 0px 10px;
  display: flex;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}



.home{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10% 0;
}

.home-content{
  max-width: 600px;
}

.home-content h4{
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
  color: #fff;
}
.home-content2 h4,h1,p,summary {
  animation: slideBottom 1s ease forwards;
  animation-delay: 10.s;
  color: #fff;
}

.home-content h4:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h4 span{
  color:#0ef;
}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0 ;
  opacity: 0;
  color: #fff;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}


.home2 h4 {
  color: #0ef;
  padding-top: 30px;
}

.home2 h1 {
  color: #0ef;
  
}

.home-content2 p , .home-content2 p del , .home-content2 details summary {
  font-size: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  
}

.home-content p {
  font-family: 'Castoro Titling', cursive;
  font-size: 12px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  color: #fff;
}


.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.text-reset {
  text-decoration: none;
}



.text-light{
  text-decoration: none;
}

.home-content2 img {
  position: absolute;
  margin-bottom: 0%;
  margin-left: -30%;
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
}



@media (max-width: 605px) {

  div.home-content h1{
    
    font-size: 40px;
  }

  .home-content h4{
    font-size: 24px;
  }

  .home-content p{
    font-size: 10px;
  }

  .multiple-text{
    font-size: 24px;
  }

 
  
  
}

@media (max-width: 450px) {

  div.home-content h1{
    
    font-size: 36px;
  }

  .home-content h4{
    font-size: 18px;
  }

  .home-content p{
    font-size: 9px;
  }

  .multiple-text{
    font-size: 18px;
  }

 

}



/* KEYFRAMES ANIMATIONS */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  }
}

/* KEYFRAMES ANIMATIONS */
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  } 
}

/* KEYFRAMES ANIMATIONS */
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  } 
}

/* KEYFRAMES ANIMATIONS */
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) ;
    opacity: 1;
  }
}

/* KEYFRAMES ANIMATIONS */
@keyframes zoomIn {
  0% {
    transform: scale(0) ;
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

/*==Making-Home-page-Responsive==================*/
@media(max-width:1200px){
  .menu li a{
      margin: 0px;
      font-size: 1.6rem;
  }
  .menu {
      flex-direction: column;
  }
}

@media(max-width:824px){
  .navigation{
      padding: 20px 10px;
      width: 90%;
  }
  .logo img{
    width: 40px;
     
  }
}

@media(max-width:530px){
  
  .navigation{
    padding: 20px 10px;
    width: 90%;
}
  
  .menu li a:hover{
      font-size: 1.8rem;
  }
  
}

